@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateX(8rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fadeup > *{
    animation: fadeup 2s ease-in forwards;
}
