@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes rotateIn {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 100%; /* Adjust according to the height of your menu */
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 100%;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.icon-transition {
  animation: rotateIn 0.3s ease-in-out forwards;
}

.icon-transition-close {
  animation: rotateOut 0.3s ease-in-out forwards;
}

.menu-transition {
  animation: slideDown 2s ease-in-out forwards;
}

.menu-transition-close {
  animation: slideUp 2s ease-in-out forwards;
}







